<div ng-include="'templates/navbar.html'"></div>

<div class="container">

  <div class="row">

    <div class="col-md-4">
      <h2 class="page-header">Balance</h2>

      <div class="centered">
        <p id="balance">&#3647{{account.balance}}</p>
        <p id="balanceDollars">{{account.balanceDollars | currency}}</p>
        <a href="#/withdraw" class="btn btn-primary">Withdraw</a>
      </div>

      <h2 class="page-header">Add Funds</h2>
      <div class="centered">
        <p>Send bitcoin to the address below using your favorite wallet.</p>
        <div id="qrcode"></div>
        <code>{{account.address}}</code> 
      </div>

    </div>

    <div class="col-md-8">
      <h2 class="page-header">My Scheduled Payments</h2>

      <div class="payment" ng-repeat="payment in scheduled">
        <div class="row">

          <div class="col-xs-3">
            <img class="leftImg" ng-src="{{payment.companyImage}}" />
          </div>

          <div class="col-xs-6">
            <h3>{{payment.company}}</h3>
            <p>{{payment.item}} - {{payment.amount | currency}}/{{payment.period}}</p>
            <p><strong>Last Payment:</strong> {{fmtDate(payment.last)}}</p>
            <p><strong>Next Payment:</strong> {{fmtDate(payment.next)}}</p>
          </div>

          <div class="col-xs-3">
            <button class="btn btn-danger space-down" ng-click="unsubscribe(payment.id, $index)"><i class="fa fa-remove"></i> Unsubscribe</button>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>
