<div ng-include="'templates/navbar.html'"></div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h2 class="page-header">Documentation</h2>
      <p>This page implements a series of functions sellers should implement in their sites.</p>

      <h2 class="page-header">Bitcoin Address</h2>
      <p>A random bitcoin address has been generated upon page load. The number below will be updated to reflect any changes in balance.</p>

      <div class="centered">
        <p id="balance">&#3647{{account.balance}}</p>
        <p id="balanceDollars">{{account.balanceDollars | currency}}</p>


        <div id="qrcode"></div>
        <code>{{address}}</code> 
      </div>

    </div>

    <div class="col-md-8">
      <h2 class="page-header">Functions</h2>

      <h3>Request Payment Button</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pay.company" placeholder="Company" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pay.img" placeholder="Image" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pay.price" placeholder="Price per month (dollars)" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pay.item" placeholder="Item" />
        </div>
        <button ng-click="launchWindow()" class="btn btn-warning">Pay with Bitcoin</button>
      </form>

      <h3>Pull Recurring Payment From User</h3>
      <input type="text" class="form-control" ng-model="userUUID" placeholder="UUID of user" />
      <input type="text" class="form-control" ng-model="amount" placeholder="Amount" />
      <button ng-click="pull()" class="btn btn-primary">Pull Recurring Payment</button>

    </div>

  </div>
</div>
